<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <main>
        <form method="post" action="/contact">
            <h1>contact form</h1>
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">

            <label for="lname">gmail</label>
            <input type="gamil" id="gmail" name="gmail" placeholder="abc@gmail.com">
            <button type="submit">send massage</button>
        </form>
    </main>
</body>
<script src="script.js"></script>

</html>